venv/
env/
other/*

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Configuration locale
.env
*.env

# Base de données locale
db.sqlite3

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Configurations des éditeurs de texte
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter notebooks générés temporairement
*.ipynb_checkpoints

# Logs
*.log

# Caches Django
*.cache

TODO.txt